@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.container {
    height: 300px;
    width: 100%;

}
/* i{
    font-size: 48px;
    background-color: transparent !important;
    border: 0px none;
    text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.534);;
} */
#display {
    width: 100%;
    font-size: 4vw;
    text-align: center;
    margin: 0px auto;
    font-family: 'Press Start 2P', cursive;
    color: rgb(31, 31, 31);
    

}
#screen{
    background: rgb(105,105,105);
    background: linear-gradient(337deg, rgba(105,105,105,1) 5%, rgba(203,203,203,1) 13%, rgba(153,153,153,1) 18%, rgba(164,164,164,1) 22%, rgba(164,164,164,1) 39%, rgba(180,179,179,1) 42%, rgba(111,111,111,1) 48%, rgba(125,125,125,1) 54%, rgba(105,105,105,1) 68%, rgba(125,125,125,1) 79%);
   padding: 20px;
   width: 60vw;
   border: 2vh solid rgb(38, 38, 38);
   margin: auto;
   border-radius:30px;
   box-shadow: -15px 10px 5px rgba(0, 0, 0, 0.705);

}

/* #screen.active{
    border-color: red;
} */


#screen.inactive{
    border-color:rgb(7, 255, 69);
    box-shadow: 0px 0px 50px rgb(7, 255, 69)
}

.buttons {
    text-align: center;
    padding: 1%;
    background-color: transparent;
    margin-top: 20px;

}

button:hover{
    transform: scale(1.1);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Russo One;
    font-weight: 300;
    /* background: linear-gradient(to left, #1ebe3387, #5961d48c); */
    background-color: black;
    background-image: url(https://images.pexels.com/photos/326240/pexels-photo-326240.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* overflow: hidden; */
}


button{
    margin: 0px 10px;
    outline: none;
    border: 0px none;
    
    
}

.start , .stop{
    
    padding: 10px;
    margin: 20px;
    background-color:transparent;
}

/* .start{
   
}

.stop{
    background-color: red;
} */

li{
    list-style: none;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 28px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    transition-duration: 2s;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

h2{
    font-family: Russo One;
    
}

.clockIcon{
    width: 2vw;
    margin-right: 2vw;
    
}

.buttonIcon{
    width: 60px;
    box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.555);
    border-radius: 50%;
}

.auxButton{
    background-color: rgb(24, 24, 24);
    padding: 10px;
    margin:20px;
    font-size: 24px;
    color: white;
    font-family: Russo One;
    vertical-align: 60%;
    border-radius: 5px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.555);
}

.buttonsContainer{
    text-align: center;
}


@media(max-width: 599px){
    #display{
        font-size: 24px;
    }
    #screen{
        width: 90vw;
    }
    li{
        font-size: 18px
    }
}